.list {
    background: #657580;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.dataInput {
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box;
}

.block {
    margin-left: 10px;
}

h6 {
    margin: 0px;
}

input {
    border-radius: 3px;
    width: 200px;
}

.button-add {
    margin: 14px;
}

#expenses {
    width: 700px;
    height: 900px;
    overflow-y: scroll;
}

#expenses div {
    width: 675px;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5px;
}

#expenses div p {
    display: flex;
    flex-direction: column;
}

#expenses div input {
    width: 130px;
    margin-right: auto;
}

img {
    width: 15px;
    height: 15px;
    margin: 25px;
    cursor: pointer;
}

p {
    cursor: pointer;
}

.numberTicket {
    width: 50px;
    align-items: flex-end;
    padding-right: 5px;
}

.shop {
    width: 250px;
    word-break: break-all;
}

.date {
    width: 150px;
    align-items: center;
}

.sum {
    width: 90px;
    align-items: center;
}

#summ {
    display: flex;
    flex-direction: row-reverse;
    width: 700px;
}

@media screen and (max-width: 730px) {
    .dataInput {
        flex-direction: column;
    }
    #expenses {
        width: 500px;
        height: 900px;
    }
    #expenses div {
        width: auto
    }
    #summ {
        width: 500px
    }
    #expenses div input {
        width: 130px;
    }
}